/build
.tmp*
gradle/
gen/
bin/
.idea/
.gradle
gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
captures/
*.prefs
*.iml
*.settings
/*.iml
.classpath
.project
log.txt
project.properties
*/maven-metadata.xml
*.patch