<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.peter.user">

    <application android:theme="@style/AppBaseTheme">

        <!--
            <activity android:name=".ArticleListActivity"
            android:screenOrientation="portrait"/>
        -->
        <activity android:name="com.android.peter.user.UserMainActivity"></activity>
    </application>

</manifest>